{% extends 'base.html.twig' %}

{% block title %}New Documentexpedition{% endblock %}

{% block body %}
    <h1>Create new Documentexpedition</h1>

    {{ include('documentexpedition/_form.html.twig') }}

    <a href="{{ path('app_documentexpedition_index') }}">back to list</a>
{% endblock %}
