{% extends 'base.html.twig' %}

{% block title %}New Colis{% endblock %}

{% block body %}
<<<<<<< HEAD

<div class="container">
    <h1>Ajouter un nouveau Colis</h1>

    {{ include('colis/_form.html.twig') }}

    <a href="{{ path('app_colis_index') }}">Retour à la liste</a>
=======
<div  style="margin-top: 50px;">
    <h1>Create new Colis</h1>

    {{ include('colis/_form.html.twig') }}

    <a href="{{ path('app_colis_index') }}">back to list</a>
    </div>
>>>>>>> 1b9c83bb09edfda666f414a2ec8b0b82973f62fa
{% endblock %}
