{% extends 'base.html.twig' %}

{% block title %}New Colis{% endblock %}

{% block body %}

<div class="container">
    <h1>Ajouter un nouveau Colis</h1>

    {{ include('colis/_form.html.twig') }}

    <a href="{{ path('app_colis_index') }}">Retour à la liste</a>
    
{% endblock %}

