{% extends 'base.html.twig' %}

{% block title %}New Message
{% endblock %}

{% block body %}

	<div class="content" style="margin-top: 190px;">
		<div class="flex-div">
			<div class="name-content">
				{{ include('message/_form.html.twig') }}

				<a href="{{ path('app_message_index') }}">back to list</a>
			</div>
		</div>

	{% endblock %}
